@model List<Product>
@{
    ViewData["Title"] = "Product Page";
    var products = Model;
}

<div class="text-center">
    <h1 class="display-4">Welcome, Product page!</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Slug</th>
            <th>Options</th>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                    <td>@product.Slug</td>
                    <td>
                        <a href="/Product/Create" class="btn btn-success">Create</a>
                        <a href="/Product/Update/@product.Id" class="btn btn-primary">Update</a>
                        <a href="" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
