@model Product;
@{
    ViewData["Title"] = "Product Detail Page";
    var product = Model;
    var categories = ViewBag.Categories;
}

<form>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="@product.Name">
    </div>
    <div class="form-group">
        <label for="Slug">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug" value="@product.Slug">
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" class="form-control" id="price" name="price" value="@product.Price">
    </div>
    <div class="form-group">
        <label for="Quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" value="@product.Quantity">
    </div>
    <div class="form-group">
        <label for="CategoryId">Category</label>
        <select class="form-control" id="CategoryId" name="CategoryId">
            @foreach (var category in categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
</form>